
@model SeasonApp.Models.Season

@{
    ViewBag.Title = "Show Season";

    // Presents information about the season

    string url = "/Content/images/" + Model.SeasonName + ".jpg";
}

<h2>Season</h2>
<p>The season is @Model.SeasonName !</p>
<figure>
    <figcaption class="photographer">
        <a href="@Model.ImageURL">Photo By : @Model.PhotographerName</a>
    </figcaption>
    <figcaption class="temp">@Model.Temperature &#8451;</figcaption>
    <img src="@url" alt="@Model.SeasonName" />
</figure>


